.dress_code {
  width: 100%;
  position: relative;
  svg {
    position: absolute;
    bottom: 0;
    left: -33%;
    rotate: 180deg;
    width: 700px;
    height: 700px;
    @media screen and (min-width: 1920px) {
        left: -500px;
        rotate: 152deg;
    }
    @media screen and (max-width: 1919px) {
      left: -300px;
      width: 600px;
      height: 600px;
    }
    @media screen and (max-width: 1280px) {
  
    }
    @media screen and (max-width: 992px) {
      left: -60%;
      rotate: 90deg;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &--wrapper {
    max-width: 1680px;
    margin: 0 auto;
    padding: 60px 0;
    @media screen and (max-width: 992px) {
      padding: 43px 20px;
    }
    border-bottom: 2px solid #d9d9d9;
    p.dress_code--text {
      max-width: 840px;
      margin: 0 auto;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 240%;
      text-align: center;
      color: #000;
      @media screen and (max-width: 1280px) {
        font-size: 18px;
        
      }
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  

  }

  .switch--btn {
    width: 293px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    border-radius: 50px;
    transition: .5s ease;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      margin: 40px auto;
    }
    &:hover{
      background: #c2c2c2;
      transition: .5s ease;
      &>button{
        background: #c2c2c2;
        &>p{
          color: #2b2b2b;
        }
      }
    }
    &:active{
      background: #9369b8;
      transition: .5s ease;
      &>button{
        background: #9369b8;
        &>p{
          color: #fff;
        }
      }
    }
    // overflow: hidden;
    button {

      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #d9d9d9;

     
      color: #000;
      cursor: pointer;
      border-radius: 50px;

      padding: 15px 30px;
      transition: .5s ease;
      .name--btn{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
      }

      

      &.active {
        background: #9369b8;
        p{
          color: #fff;

        }
      }
    }

  }

  &--info {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: 1.5s ease;
    opacity: 0;

    &.active {
      left: 0;
      opacity: 1;
    }

    .color--list {
      max-width: 820px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      &.men {
        justify-content: center;
      }
      @media screen and (max-width: 992px) {
        max-width: 520px;
        justify-content: center;
        flex-wrap: wrap;
      }
      @media screen and (max-width: 768px) {
     
     
      }
      .color {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        @media screen and (max-width: 768px) {
          width: 43px;
          height: 43px;
        }
      }
    }

    &-desc {
      max-width: 840px;
      margin: 0 auto;
      padding: 60px 0;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 240%;
      text-align: center;
      color: #000;
      @media screen and (max-width: 1280px) {
        font-size: 18px;
        
      }
      @media screen and (max-width: 768px) {
        padding: 40px 0;
      }

    }

    &-img {
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 60px;
      @media screen and (max-width: 1280px) {
        max-width: 800px;
        gap: 40px;
      }
      @media screen and (max-width: 992px) {
        max-width: 520px;
      }
      @media screen and (max-width: 560px) {
        max-width: 330px;
      }
      @media screen and (max-width: 400px) {
        max-width: 310px;
        gap: 10px;
      }
      img{
        @media screen and (max-width: 992px) {
          width: 144px;
          height: 215px;
        }
      }
    }

  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 1152px;
  overflow: hidden;
  display: flex;
  @media screen and (max-width: 992px) {
    min-height: 918px;
  }
  @media screen and (max-width: 560px) {
    min-height: 1300px;
  }
  @media screen and (max-width: 400px) {
    min-height: 1293px;

  }

  // @media screen and (max-width: 360px) {
  //   min-height: 1333px;
  // }
}