.qa {
  max-width: 1680px;
  margin: 0 auto;
  padding: 60px 0 60px;
  margin-bottom: 60px;

  border-bottom: 2px solid #d9d9d9;
  @media screen and (max-width: 768px) {
    max-width: 344px;
    padding: 43px 0;
  }
  &--wrapper {
   
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 54px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    .qa-bg {
      display: block;
      @media screen and (max-width: 768px) {
        display: none;
        
      }
    }

    .qa--info {

      h5 {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 40px;
        color: #000;
        @media screen and (max-width: 1200px) {
          font-size: 36px;
        }
        @media screen and (max-width: 768px) {
          font-size: 32px;
          text-align: center;
          padding-bottom: 24px;
        }
      }

      .connection {
        display: flex;
        align-items: center;
        gap: 22px;
        padding: 25px 0 56px;
        // justify-content: space-between;
        // max-width: 550px;
        @media screen and (max-width: 768px) {
          justify-content: space-evenly;
          padding: 0;
        }
        a {
          font-family: var(--third-family);
          font-weight: 400;
          font-size: 24px;
          line-height: 200%;
          text-align: center;
          color: #9369b8;

        }

        .social-network--link {
          display: flex;
          align-items: center;
          gap: 20px;
          .social {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #9369b8;
            transition: .5s ease-in-out;
            @media screen and (max-width: 768px) {
            width: 28px;
            height: 28px;
            }
            &:hover{
              background-color: #7f5b9f;
              transition: .5s ease-in-out;
            }

            a{
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .vk{
            img{
              width: 30px;
              height: 30px;
              @media screen and (max-width: 768px) {
                width: 20px;
                height: 20px;
                
              }
            }
          }
          .tg{
            img{
              width: 25px;
              height: 25px;
              @media screen and (max-width: 768px) {
                width: 18px;
                height: 18px;
                
              }
            }
          }
          .wa{
            img{
              width: 25px;
              height: 25px;
              @media screen and (max-width: 768px) {
                width: 18px;
                height: 18px;
                
              }
            }
          }

        }
      }
      .qa-bg--mobile{
        display: none;
        @media screen and (max-width: 768px) {
          display: flex;
          justify-content: center;
          padding: 44px 0;
          img{
            width: 258px;
            height: 258px;
          }
          
        }
      }
      .qa--text {
        max-width: 610px;
        p {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 20px;
          line-height: 240%;
          color: #000;
          @media screen and (max-width: 1200px) {
            font-size: 18px;
            
          }
          @media screen and (max-width: 768px) {
            font-size: 16px;
            text-align: center;
          }
        }

      }
    }
  }
}