.presence {
  width: 100%;

  padding-top: 60px;
  padding-bottom: 20px;

  position: relative;
  z-index: 1;

  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding: 43px 10px;

  }

  // height: 100vh;
  img {
    position: absolute;
    z-index: -1;
    top: 0;

    @media screen and (max-width: 1200px) {
      width: 600px;
      height: 600px;
    }

    @media screen and (max-width: 992px) {
      width: 400px;
      height: 400px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

    &:nth-child(1) {
      left: -25%;
      transform: rotate(143deg);
      @media screen and (max-width: 1200px) {
        left: -30%;

      }

      @media screen and (max-width: 768px) {
        left: -40%;
      }
    }

    &:nth-child(2) {
      right: -25%;
      transform: rotate(262deg);

      @media screen and (max-width: 1200px) {
        right: -30%;

      }

      @media screen and (max-width: 768px) {
        right: -40%;

      }
    }
  }

  &--wrapper {
    max-width: 1680px;
    // height: 70vh;
    margin: 0 auto;
    border-bottom: 2px solid #d9d9d9;
    // @media screen and (max-width: 768px) {
    //   max-width: 344px;
    // }
  }

  &--btn {
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding-top: 120px;
    opacity: 0;

    transition: .5s ease-in-out;

    pointer-events: none;

    @media screen and (max-width: 1200px) {
      padding-top: 60px;
    }

    @media screen and (max-width: 768px) {
      padding-top: 20px;

    }

    &.active {

      height: auto;
      opacity: 1;
      transition: .5s ease-in-out;
      pointer-events: auto;
    }

    &--yes {
      background: var(--color-violet);
      padding: 20px 85px;

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      color: #fff;
      transition: .5s ease;
      border-radius: 40px;

      @media screen and (max-width: 768px) {
        padding: 14px 60px;
        font-size: 28px;
      }

      &:hover {
        transition: .5s ease;
        background-color: #7f5b9f;
      }
    }

    &--no {
      padding: 11px 23px;

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      color: #616161;
      background: #d9d9d9;

      border-radius: 40px;

      transition: .5s ease;

      @media screen and (max-width: 768px) {
        padding: 12px 30px;
        font-size: 23px;

      }

      &:hover {
        transition: .5s ease;
        background-color: #e6e6e6;
      }
    }
  }
}