.navigation {
  padding: 46px 0 60px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 992px) {
    padding: 43px 50px 43px;
  }

  img {
    width: 400px;
    position: absolute;
    display: none;
    rotate: 192deg;

    @media screen and (max-width: 992px) {
      display: block;
      right: -23%;
    }

    @media screen and (max-width: 768px) {
      right: -32%;
    }

    @media screen and (max-width: 480px) {
      right: -50%;
    }

    @media screen and (max-width: 360px) {
      right: -70%;

    }
  }

  ul {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;

    @media screen and (max-width: 1200px) {
      max-width: 1100px;
      gap: 30px;
    }

    @media screen and (max-width: 992px) {
      max-width: 768px;
      flex-direction: column;
      align-items: flex-start;
    }

    li {



      button {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: #000;
        background: rgba(0, 0, 0, 0);
        transition: .5s ease;

        @media screen and (max-width: 1200px) {
          font-size: 18px;

        }

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }

        &.active {
          color: #fb84ee;
        }

        &:hover {
          color: #fb84ee;
          transition: .5s ease;
        }
      }

    }
  }
}