.intro {
  background-image: url("../../../public/img/intro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
    @media screen and (max-width: 1200px) {
      padding-bottom: 60px;
      
    }
    h2 {
      font-family: var(--second-family);
      font-optical-sizing: auto;
      font-weight: 400;
      font-size: 96px;
      color: #fff;
      @media screen and (max-width: 1200px) {
        font-size: 62px;
        padding-bottom: 10px;
      }

      @media screen and (max-width: 768px) {
        font-size: 48px;
        
      }

    }

    p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 60px;
      text-align: center;
      color: #cd8eff;
      padding-bottom: 20px;

      @media screen and (max-width: 1200px) {
        font-size: 40px;
      }
      
      @media screen and (max-width: 768px) {
        font-size: 36px;
      }
    }

    button {

      background-color: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      img{
        width: 30px;
        height: 30px;
      }
    }
  }

}