.invitation {
  width: 100%;
  position: relative;
  background: #ffeefc;
  padding: 60px 0;
  img{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    &:nth-child(1){
      left: -17%;
      transform: rotate(226deg);
    }
    &:nth-child(2){
      right: -15%;
      transform: rotate(215deg);
    }
  }
  &-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 40px;

    h4 {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 200%;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-align: center;
      color: #000;
    }

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 200%;
      text-decoration-skip-ink: none;
      text-align: center;
      color: #000;
    }
  }
}