.invitation {
  width: 100%;
  position: relative;
  background: #ffeefc;
  padding: 60px 0;
  img{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    z-index: 1;
    @media screen and (max-width: 1200px) {
      width: 400px;
      height: 400px;
    }
    @media screen and (max-width: 1024px) {
      display: none;
      
    }
    &:nth-child(1){
      left: -17%;
      transform: rotate(226deg);
      @media screen and (max-width: 1200px) {
        left: -23%;
      }
    }
    &:nth-child(2){
      right: -15%;
      transform: rotate(215deg);
      @media screen and (max-width: 1200px) {
        right: -20%;
      }
    }
  }
  &-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }
    // gap: 40px;

    h4 {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 200%;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-align: center;
      color: #000;
      z-index: 2;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 200%;
      text-decoration-skip-ink: none;
      text-align: center;
      color: #000;
      z-index: 2;
      @media screen and (max-width: 1200px) {
          font-size: 18px;
      }
      @media screen and (max-width: 768px) {
        font-size: 16px;
        
      }
    }
  }
}