.hashtag {
  width: 100%;
  margin: 0;
  padding: 60px 0 60px;
  position: relative;
  &--img {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    right: -14%;
    rotate: 180deg;
  }
  h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #9369b8;
  }

  &--info {
    max-width: 840px;
    margin: 0 auto;
    padding: 60px 0;

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 240%;
      text-align: center;
      color: #000;
    }
  }

  .social-network--links {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .link {
      width: 240px;
      height: 60px;

      a {
        border-radius: 30px;
        width: 240px;
        height: 60px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        h6 {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 20px;
          line-height: 240%;
          text-align: center;
          color: #fff;
        }

        &.vk--link {
          background: #9369b8;
          transition: .5s ease-in-out;
          &:hover {
            background-color: #7f5b9f;
            
            transition: .5s ease-in-out;
          }
        }
        
        &.inst--link {
          background: #fb84ee;
          gap: 10px;
          transition: .5s ease-in-out;
          &:hover {
            background-color: #dc77d1;

            transition: .5s ease-in-out;
          }
        }
      }

      .subtext {
        padding-top: 13px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #616161;
      }
    }
  }
}