.hashtag {
  width: 100%;
  margin: 0;
  padding: 60px 0 60px;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 43px 5px;
  }

  svg {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    right: -288px;
    // rotate: 180deg;
    z-index: -1;
    rotate: 60deg;
    @media screen and (min-width: 1200px) {
      right: -288px;
      rotate: 60deg;
    }

    @media screen and (max-width: 1280px) {

      // width: 400px;
      // height: 400px;
      // right: -20%;
    }

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #9369b8;
    padding: 0;

    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  &--info {
    max-width: 840px;
    margin: 0 auto;
    padding: 60px 0;

    @media screen and (max-width: 1200px) {
      max-width: 720px;
      padding: 50px 0;

    }

    @media screen and (max-width: 768px) {
      padding: 40px 20px;
    }

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 240%;
      text-align: center;
      color: #000;

      @media screen and (max-width: 1200px) {
        font-size: 18px;

      }

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  .social-network--links {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
      max-width: 360px;
    }

    @media screen and (max-width: 480px) {
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .link {
      // width: 240px;
      // height: 60px;

      a {
        border-radius: 30px;
        // padding: 5px 43px;
        width: 240px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        @media screen and (max-width: 768px) {
          width: 172px;
          height: 43px;
        }

        h6 {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 20px;
          line-height: 240%;
          text-align: center;
          color: #fff;

          @media screen and (max-width: 768px) {
            font-size: 16px;
          }
        }

        &.vk--link {

          background: #9369b8;
          transition: .5s ease-in-out;

          &:hover {
            background-color: #7f5b9f;

            transition: .5s ease-in-out;
          }

          img {
            @media screen and (max-width: 768px) {
              width: 34px;
              height: 34px;
            }

          }
        }

        &.inst--link {
          // padding: 5px 43px;
          background: #fb84ee;
          gap: 10px;
          transition: .5s ease-in-out;

          &:hover {
            background-color: #dc77d1;

            transition: .5s ease-in-out;
          }

          img {
            width: 22px;
            height: 22px;
          }
        }
      }

      .subtext {
        padding-top: 13px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #616161;

        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }
  }
}