@import './mixins.scss';
section{
  width: 100%;
  overflow: hidden;

}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
p{

}
ul{}
h1{}
h2{

  @include title()
}
h3{}
h4{}
h5{}
h6{}