@import './assets/fonts/Kindentosca/Kindentosca.scss';
@import './assets/fonts/Inter/inter.scss';

:root {
  --font-family: "Google Sans", sans-serif;
  --second-family: "Kindentosca", sans-serif;
  --third-family: "Inter", sans-serif;
  --color-violet: #9369b8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}

body {}


body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgba(167, 120, 205, 0.242);
 ;
}



body::-webkit-scrollbar-thumb {
  background: rgb(167, 120, 205);

  border-radius: 5px;
  cursor: pointer

}

