@import './assets/fonts/Kindentosca/Kindentosca.scss';
@import './assets/fonts/Inter/inter.scss';

:root {
  --font-family: "Google Sans", sans-serif;
  --second-family: "Kindentosca", sans-serif;
  --third-family: "Inter", serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}


